.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-m);
    padding: var(--padding-xm) var(--padding-xl);
}

.header__container {
    display: flex;
    gap: var(--gap-xm);
    justify-content: space-between;
    padding: var(--padding-m) 0;
    align-items: center;
}

.search__input {
    width: 37.5rem;
    height: 100%;
    padding: var(--padding-s) var(--padding-m);
    font-size: var(--font-size-b);
    border: 1px solid var(--cor-neutra-dark);
    border-radius: 2rem;
    background-image: url(../assets/icones/busca.png);
    background-repeat: no-repeat;
    background-position: 97% center;
}

.login__button {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
}

.nav {
    padding: var(--padding-m) 0;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    text-decoration: none;
    color: var(--cor-neutra-dark);
    position: relative;
    line-height: var(--line-height-t);
}

.login__button::after,
.nav__link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: var(--cor-neutra-dark);
        transition: width 0.3s ease;
}

.login__button:hover::after,
.login__button:focus::after,
.nav__link:hover::after,
.nav__link:focus::after {
    width: 100%;
}

@media screen and (max-width: 1264px) {
    .header {
        padding: 5.208vw 3.121vw;
    }

    .nav {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 1186px) {
    .header__container {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .header__container > label {
        order: 1;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: var(--padding-xl) var(--padding-xm);
    }

    .header__container {
        padding-bottom: 0;
    }

    .search__input {
        width: clamp(280px, 78.125vw, 600px);
    }

    .nav {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .header__container {
        flex-direction: column;
    }

    .search__input {
        width: 58.335vw;
    }
}