.hero{
    display: flex;
    justify-content: center;
    background-color: var(--cor-secundaria-light);
    padding: var(--padding-6xl) 0;
}

.hero__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__title {
    font-size: var(--font-size-3xl);
    color: var(--cor-primaria-light);
}

.hero__title > span {
    color: var(--cor-terciaria-dark);
}
