.hero{
    display: flex;
    background-color: var(--cor-secundaria-light);
    padding: var(--padding-6xl) var(--padding-xl);
}

.hero__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__title {
    color: var(--cor-primaria-light);
}

.hero__title > span {
    color: var(--cor-terciaria-dark);
}

@media screen and (max-width: 1264px) {
    .hero {
        padding: 5.208vw 3.121vw;
    }

    .hero__container {
        text-align: center;
        flex-direction: column;
    }

    .hero__title {
        font-size: var(--font-size-2xl);
    }
}

@media screen and (max-width: 768px) {
    .hero {
        padding: var(--padding-2xl) var(--padding-xm);
    }

    .hero__container > img {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .hero__title {
        font-size: var(--font-size-xl);
    }
}