.services {
    text-align: center;
    padding: var(--padding-6xl) 0;
}

.services__container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: var(--gap-2xl);
}

.services__title {
    font-size: var(--font-size-xl);
    color: var(--cor-primaria-light);
}

.services__list {
    display: flex;
    justify-content: space-between;
}

.services__item {
    padding: var(--padding-l) var(--padding-xm);
    background-color: var(--cor-secundaria-light);
    border: none;
    border-radius: 16px;
}

.services__link {
    text-decoration: none;
    color: var(--cor-primaria-light);
    font-size: var(--font-size-xm);
    font-family: var(--font-sigmar);
    line-height: var(--line-height-t);
}
