.services {
    text-align: center;
    padding: var(--padding-6xl) var(--padding-xl);
}

.services__container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2xl);
}

.services__title {
    color: var(--cor-primaria-light);
}

.services__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1.203rem;
}

.services__link {
    display: block;
    position: relative;
    text-decoration: none;
    border: none;
    border-radius: 1rem;
    background-color: var(--cor-secundaria-light);
    padding: var(--padding-l) var(--padding-xm);
    color: var(--cor-primaria-light);
    font-size: var(--font-size-xm);
    font-family: var(--font-sigmar);
    line-height: var(--line-height-t);
}

.services__link::before {
    content: "";
    position: absolute;
    left: -10px;
    bottom: 50%;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(0);
    transition: transform 0.3s ease, left 0.1s ease;
}

.services__link--large::before {
    width: 53px;
    height: 39px;
}

.services__item--bath > .services__link::before {
    background-image: url(../assets/icones/banho-e-tosa.png);
}

.services__item--lodging > .services__link::before {
    background-image: url(../assets/icones/hospedagem.png);
}

.services__item--vet > .services__link::before {
    background-image: url(../assets/icones/veterinario.png);
}

.services__item--training > .services__link::before {
    background-image: url(../assets/icones/adestramento.png);
}

.services__item--petsitter > .services__link::before {
    background-image: url(../assets/icones/petsiter.png);
}

.services__link:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in;
    padding-left: var(--padding-3xl);
}

.services__link:hover::before {
    transform: scale(1) translateY(50%);
    left: 0.8rem;
}

.services__link--large:hover {
    padding-left: 4.5rem;
}

.services__link--large:hover::before {
    left: 0.7rem;
    transform: translateY(40%);
}

@media screen and (max-width: 1264px) {
    .services {
        padding: 5.208vw 3.121vw;
    }

    .services__container {
        gap: 32px;
    }

    .services__list {
        gap: var(--gap-m);
    }
}

@media screen and (max-width: 768px) {
    .services {
        padding: var(--padding-2xl) var(--padding-xm);
    }
}

@media screen and (max-width: 480px) {
    .services__title {
        font-size: var(--font-size-l);
    }

    .services__list {
        flex-direction: column;
        align-items: center;
    }

    .services__item {
        width: 238px;
    }
}